@import "../Variables.scss";

.mktp-footer {
  &__powered {
    @media (max-width: $md) {
      font-size: 0.875rem;
    }
  }

  &__copyright {
    align-items: end;
    display: flex;
    justify-self: center;
    margin: 0;

    @media (max-width: $md) {
      font-size: 0.875rem;
    }
  }
}
