@import "./Variables.scss";

.mktp-my-negotiations {
  padding: 1.25rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 0.0625rem solid $input-border;
      background-color: $light-gray;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
      padding: 1rem;

      p {
        margin: 0;
        font-size: 1.125rem;
      }
    }
  }
}

.mktp-container {
  &-light {
    .mktp-my-negotiations ul li {
      background-color: $light-gray;
    }
  }

  &-dark {
    .mktp-my-negotiations ul li {
      background-color: $light-black;
    }
  }
}
