// Colors
$primary: #ffdb58;
$secondary: #535971;
$btn-primary: #ffdb58;
$btn-secondary: #ced4da;
$msg-error: #ff0000;
$msg-error-background: #ffcccc;
$msg-success: #34b78f;
$login-box-shadow: rgba(255, 219, 88, 0.5);
$input-border: #ddd;
$input-border-focused: #ffdb58;
$box-text-between-buttons: #555;
$white: #fff;
$black: #000;
$light-gray: #f0f2f5;
$medium-gray: #ced4da;
$dark-gray: #999;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1500px;
