// Colors
$primary: #ffdb58;
$secondary: #535971;
$btn-primary: #ffdb58;
$btn-secondary: #ced4da;
$msg-error: #ff0000;
$msg-error-background: #ffcccc;
$msg-success: #34b78f;

$white: #fff;
$black: #000;
$light-gray: #f3f3f3;
$medium-gray: #ced4da;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1500px;
